In [ ]:
import psycopg2

# ==============================
# 1. PostgreSQL DB 연결
# ==============================
conn = psycopg2.connect(
    host="localhost",
    port=5432,
    database="septime_db",   # ✅ DB 이름 변경됨 (기존 postgres → septime-db)
    user="postgres",
    password="1234"          # 또는 os.getenv("PG_PASSWORD") 로 대체 가능
)
cursor = conn.cursor()
print("✅ PostgreSQL(septime-db) 연결 완료")

✅ PostgreSQL(septime-db) 연결 완료

In [3]:
# ==============================
# patient 테이블에 데이터 삽입
# ==============================

insert_patients = """
INSERT INTO patient (patient_id, patient_name, severity) VALUES
(1, '김민우', 3),
(2, '이서현', 3),
(3, '박지훈', 2),
(4, '최유진', 2),
(5, '정하늘', 6),
(6, '한도윤', 4),
(7, '윤지호', 6),
(8, '서지민', 7),
(9, '장예린', 5),
(10, '오승현', 8);
"""

cursor.execute(insert_patients)
conn.commit()
print("✅ patient 테이블 데이터 삽입 완료")

✅ patient 테이블 데이터 삽입 완료

In [4]:
# ==============================
# clinical_data 테이블에 데이터 삽입
# ==============================

insert_clinical_data = """
INSERT INTO clinical_data 
(patient_id, timestamp, timepoint, creatinine, hemoglobin, ldh, lymphocytes, neutrophils, platelet_count, wbc_count, hs_crp, d_dimer, news_score)
VALUES
(1, '2025-01-01 00:00:00', 1, 0.9, 14.1, 180, 2.1, 4.2, 220, 7.0, 1.8, 0.4, 2),
(1, '2025-01-01 08:00:00', 2, 1.1, 14.0, 210, 2.0, 4.5, 210, 7.3, 2.0, 0.6, 3),
(1, '2025-01-01 16:00:00', 3, 1.3, 13.8, 240, 1.8, 5.0, 200, 8.1, 3.5, 0.8, 4),
(1, '2025-01-02 00:00:00', 4, 1.0, 14.3, 200, 2.3, 4.0, 230, 6.5, 1.5, 0.5, 2),
(1, '2025-01-02 08:00:00', 5, 1.5, 13.7, 260, 1.7, 5.3, 190, 8.7, 4.2, 1.0, 5),
(1, '2025-01-02 16:00:00', 6, 1.2, 13.9, 230, 1.9, 4.8, 205, 7.9, 3.0, 0.7, 3),
(1, '2025-01-03 00:00:00', 7, 1.6, 13.6, 280, 1.6, 5.5, 185, 9.0, 4.5, 1.2, 5),
(1, '2025-01-03 08:00:00', 8, 1.0, 14.2, 190, 2.2, 4.1, 225, 6.8, 1.7, 0.4, 2),
(1, '2025-01-03 16:00:00', 9, 1.4, 13.8, 250, 1.8, 5.1, 195, 8.4, 3.8, 0.9, 4),
(1, '2025-01-04 00:00:00', 10, 1.2, 14.0, 220, 2.0, 4.6, 210, 7.5, 2.2, 0.6, 3);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data (
    clinical_id, patient_id, timestamp, timepoint,
    creatinine, hemoglobin, ldh, lymphocytes, neutrophils,
    platelet_count, wbc_count, hs_crp, d_dimer, news_score
) VALUES
(11, 2, '2025-01-15 00:00:00', 1, 0.9, 14.5, 180, 2.2, 4.5, 230, 7, 1.8, 0.4, 1),
(12, 2, '2025-01-15 08:00:00', 2, 1.1, 14.2, 220, 2.0, 4.8, 210, 7.5, 3.5, 0.6, 2),
(13, 2, '2025-01-15 16:00:00', 3, 1.4, 13.8, 250, 1.9, 5.2, 200, 8, 5.2, 0.8, 3),
(14, 2, '2025-01-16 00:00:00', 4, 1.7, 13.5, 300, 1.6, 5.8, 190, 8.5, 7.8, 1.2, 4),
(15, 2, '2025-01-16 08:00:00', 5, 1.5, 13.9, 280, 2.1, 5.0, 210, 7.9, 6.5, 1.0, 3),
(16, 2, '2025-01-16 16:00:00', 6, 1.8, 13.4, 350, 1.5, 6.2, 180, 9, 10.2, 1.5, 5),
(17, 2, '2025-01-17 00:00:00', 7, 1.6, 13.7, 310, 1.8, 5.6, 200, 8.2, 8.7, 1.1, 4),
(18, 2, '2025-01-17 08:00:00', 8, 1.2, 14.0, 240, 2.3, 4.7, 220, 7.2, 4.8, 0.7, 2),
(19, 2, '2025-01-17 16:00:00', 9, 1.0, 14.3, 200, 2.5, 4.4, 240, 6.8, 2.5, 0.5, 1),
(20, 2, '2025-01-18 00:00:00', 10, 1.3, 13.9, 270, 2.0, 5.1, 210, 7.6, 5.9, 0.9, 3);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data (
    clinical_id, patient_id, timestamp, timepoint,
    creatinine, hemoglobin, ldh, lymphocytes, neutrophils,
    platelet_count, wbc_count, hs_crp, d_dimer, news_score
) VALUES
(21, 3, '2025-02-01 00:00:00', 1, 0.9, 14.2, 180, 2.0, 4.5, 220, 7.0, 2.1, 0.4, 1),
(22, 3, '2025-02-01 08:00:00', 2, 1.1, 14.0, 220, 2.3, 5.0, 210, 7.5, 3.0, 0.6, 2),
(23, 3, '2025-02-01 16:00:00', 3, 1.4, 13.8, 260, 1.8, 6.0, 200, 8.5, 5.2, 0.8, 3),
(24, 3, '2025-02-02 00:00:00', 4, 1.2, 13.6, 230, 2.5, 5.2, 240, 7.8, 4.8, 0.7, 2),
(25, 3, '2025-02-02 08:00:00', 5, 1.6, 13.5, 280, 1.6, 6.5, 190, 9.0, 7.5, 1.0, 4),
(26, 3, '2025-02-02 16:00:00', 6, 1.3, 13.7, 240, 2.1, 5.8, 230, 8.2, 4.0, 0.9, 3),
(27, 3, '2025-02-03 00:00:00', 7, 1.8, 13.4, 310, 1.4, 6.8, 180, 9.5, 8.2, 1.5, 5),
(28, 3, '2025-02-03 08:00:00', 8, 1.5, 13.9, 260, 2.0, 6.0, 210, 8.0, 5.0, 1.1, 3),
(29, 3, '2025-02-03 16:00:00', 9, 1.7, 13.6, 300, 1.7, 7.0, 200, 9.2, 7.8, 1.3, 4),
(30, 3, '2025-02-04 00:00:00', 10, 1.2, 14.1, 210, 2.4, 5.5, 225, 7.6, 3.5, 0.5, 2);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data 
(clinical_id, patient_id, timestamp, timepoint, 
 creatinine, hemoglobin, ldh, lymphocytes, neutrophils, 
 platelet_count, wbc_count, hs_crp, d_dimer, news_score)
VALUES
(31, 4, '2025-02-15 00:00:00', 1, 0.9, 14.0, 180, 2.0, 4.5, 250, 7.0, 2.5, 0.3, 1),
(32, 4, '2025-02-15 08:00:00', 2, 1.2, 13.5, 220, 1.8, 5.0, 240, 7.5, 3.2, 0.6, 2),
(33, 4, '2025-02-15 16:00:00', 3, 1.8, 13.0, 300, 1.6, 6.0, 220, 8.0, 5.5, 0.9, 3),
(34, 4, '2025-02-16 00:00:00', 4, 2.1, 12.5, 380, 1.5, 6.5, 210, 9.0, 7.0, 1.2, 4),
(35, 4, '2025-02-16 08:00:00', 5, 1.5, 12.8, 250, 1.9, 5.5, 230, 7.5, 4.5, 0.7, 2),
(36, 4, '2025-02-16 16:00:00', 6, 2.4, 12.2, 420, 1.3, 7.0, 200, 10.0, 9.8, 1.5, 5),
(37, 4, '2025-02-17 00:00:00', 7, 1.7, 12.5, 280, 1.7, 5.8, 215, 8.5, 6.0, 0.8, 3),
(38, 4, '2025-02-17 08:00:00', 8, 0.8, 13.8, 190, 2.2, 4.8, 260, 7.2, 2.0, 0.4, 1),
(39, 4, '2025-02-17 16:00:00', 9, 2.0, 12.3, 360, 1.4, 6.8, 205, 9.5, 8.2, 1.1, 4),
(40, 4, '2025-02-18 00:00:00', 10, 1.3, 13.0, 230, 1.8, 5.3, 240, 8.0, 3.8, 0.6, 2);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data 
(clinical_id, patient_id, timestamp, timepoint,
 creatinine, hemoglobin, ldh, lymphocytes, neutrophils,
 platelet_count, wbc_count, hs_crp, d_dimer, news_score)
VALUES
(41, 5, '2025-03-01 00:00:00', 1, 1.00, 14.4, 223, 1.24, 5.88, 246, 7.90, 4.38, 0.21, 3),
(42, 5, '2025-03-01 08:00:00', 2, 1.54, 12.7, 207, 1.99, 5.10, 226, 5.00, 3.30, 0.72, 5),
(43, 5, '2025-03-01 16:00:00', 3, 1.43, 12.3, 236, 1.07, 5.76, 321, 4.00, 1.99, 0.77, 5),
(44, 5, '2025-03-02 00:00:00', 4, 1.38, 15.8, 260, 2.82, 5.58, 241, 8.10, 0.79, 0.47, 5),
(45, 5, '2025-03-02 08:00:00', 5, 1.01, 15.9, 287, 1.52, 4.39, 228, 7.50, 1.90, 0.52, 5),
(46, 5, '2025-03-02 16:00:00', 6, 1.05, 15.2, 339, 2.33, 5.69, 272, 7.60, 1.96, 0.58, 5),
(47, 5, '2025-03-03 00:00:00', 7, 1.00, 13.2, 297, 1.62, 2.35, 204, 7.90, 3.78, 0.75, 5),
(48, 5, '2025-03-03 08:00:00', 8, 1.93, 12.4, 350, 2.04, 2.78, 316, 4.40, 3.37, 1.05, 7),
(49, 5, '2025-03-03 16:00:00', 9, 1.71, 14.7, 379, 2.09, 2.18, 193, 5.80, 4.49, 1.04, 6),
(50, 5, '2025-03-04 00:00:00', 10, 1.90, 13.8, 330, 1.37, 3.30, 348, 4.60, 2.62, 0.95, 6);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data 
(clinical_id, patient_id, timestamp, timepoint,
 creatinine, hemoglobin, ldh, lymphocytes, neutrophils, 
 platelet_count, wbc_count, hs_crp, d_dimer, news_score) 
VALUES
(51, 6, '2025-03-15 00:00:00', 1, 1.37, 11.1, 425, 2.52, 2.85, 392, 7.11, 15.56, 2.62, 7),
(52, 6, '2025-03-15 08:00:00', 2, 2.41, 15.8, 213, 1.43, 5.47, 344, 6.17, 4.37, 1.95, 5),
(53, 6, '2025-03-15 16:00:00', 3, 2.02, 15.2, 281, 1.16, 2.24, 385, 10.63, 0.61, 1.13, 5),
(54, 6, '2025-03-16 00:00:00', 4, 1.78, 12.1, 315, 3.37, 8.37, 374, 6.85, 16.40, 0.38, 4),
(55, 6, '2025-03-16 08:00:00', 5, 0.98, 11.9, 355, 3.41, 3.81, 299, 6.25, 14.28, 1.07, 3),
(56, 6, '2025-03-16 16:00:00', 6, 0.98, 11.9, 503, 3.02, 6.64, 380, 8.34, 14.72, 1.11, 5),
(57, 6, '2025-03-17 00:00:00', 7, 0.80, 12.5, 240, 1.76, 4.18, 172, 5.13, 15.54, 2.24, 3),
(58, 6, '2025-03-17 08:00:00', 8, 2.26, 13.6, 381, 1.24, 5.64, 199, 10.42, 1.94, 1.99, 7),
(59, 6, '2025-03-17 16:00:00', 9, 1.78, 13.2, 417, 2.71, 5.83, 161, 4.60, 7.49, 2.68, 7),
(60, 6, '2025-03-18 00:00:00', 10, 1.97, 12.5, 171, 2.10, 3.29, 231, 11.90, 2.76, 1.52, 4);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data (
    clinical_id, patient_id, timestamp, timepoint,
    creatinine, hemoglobin, ldh, lymphocytes, neutrophils,
    platelet_count, wbc_count, hs_crp, d_dimer, news_score
) VALUES
(61, 7, '2025-04-01 00:00:00', 1, 0.78, 13.16, 188.49, 1.7, 2.4, 187, 8.36, 5.97, 0.46, 4),
(62, 7, '2025-04-01 08:00:00', 2, 1.53, 14.45, 238.31, 2.03, 2.88, 312, 4.87, 5.28, 0.89, 7),
(63, 7, '2025-04-01 16:00:00', 3, 1.38, 12.56, 243.94, 2.07, 2.2, 174, 6.29, 7.15, 0.47, 5),
(64, 7, '2025-04-02 00:00:00', 4, 0.95, 13.17, 234.73, 1.5, 3.46, 348, 5.08, 4.04, 0.24, 5),
(65, 7, '2025-04-02 08:00:00', 5, 0.39, 13.47, 198.46, 2.75, 3.75, 307, 8.82, 1.4, 0.37, 4),
(66, 7, '2025-04-02 16:00:00', 6, 0.81, 13.82, 187.34, 2.44, 3.22, 198, 7.62, 5.85, 0.8, 6),
(67, 7, '2025-04-03 00:00:00', 7, 1.32, 15.14, 150.32, 2.7, 5.73, 161, 6.15, 6.21, 0.75, 5),
(68, 7, '2025-04-03 08:00:00', 8, 1.2, 12.8, 148.98, 2.63, 3.61, 315, 4.82, 4.71, 0.13, 3),
(69, 7, '2025-04-03 16:00:00', 9, 0.31, 14.06, 199.31, 2.16, 3.26, 294, 6.05, 6.28, 0.06, 3),
(70, 7, '2025-04-04 00:00:00', 10, 0.69, 14.37, 215.35, 2.67, 4.44, 299, 6.13, 4.2, 0.69, 6);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data 
(clinical_id, patient_id, timestamp, timepoint, creatinine, hemoglobin, ldh, lymphocytes, neutrophils, platelet_count, wbc_count, hs_crp, d_dimer, news_score)
VALUES
(71, 8, '2025-04-15 00:00:00', 1, 0.9, 14.1, 180, 2.2, 4.5, 230, 7.1, 3.5, 0.6, 5),
(72, 8, '2025-04-15 08:00:00', 2, 1.2, 13.8, 250, 1.9, 5.8, 210, 8.0, 6.2, 0.9, 6),
(73, 8, '2025-04-15 16:00:00', 3, 1.6, 13.2, 310, 1.7, 6.2, 200, 8.5, 9.5, 1.4, 8),
(74, 8, '2025-04-16 00:00:00', 4, 2.0, 12.9, 360, 1.5, 7.0, 190, 9.2, 12.0, 2.0, 9),
(75, 8, '2025-04-16 08:00:00', 5, 1.7, 12.5, 330, 1.6, 6.5, 185, 8.8, 10.5, 1.6, 8),
(76, 8, '2025-04-16 16:00:00', 6, 2.2, 12.0, 410, 1.4, 7.5, 170, 10.0, 14.2, 2.5, 10),
(77, 8, '2025-04-17 00:00:00', 7, 1.8, 12.8, 290, 1.8, 6.0, 195, 9.0, 8.0, 1.2, 7),
(78, 8, '2025-04-17 08:00:00', 8, 1.4, 13.0, 240, 2.0, 5.2, 210, 8.2, 5.0, 0.8, 6),
(79, 8, '2025-04-17 16:00:00', 9, 1.0, 13.5, 190, 2.3, 4.8, 220, 7.5, 3.0, 0.5, 5),
(80, 8, '2025-04-18 00:00:00', 10, 1.5, 13.3, 280, 1.9, 5.6, 205, 8.4, 7.0, 1.0, 7);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data
(clinical_id, patient_id, timestamp, timepoint,
 creatinine, hemoglobin, ldh, lymphocytes, neutrophils,
 platelet_count, wbc_count, hs_crp, d_dimer, news_score)
VALUES
(81, 9, '2025-05-01 00:00:00', 1, 1.03, 12.93, 536.6, 1.81, 4.48, 228.38, 11.1, 9.87, 0.87, 7),
(82, 9, '2025-05-01 08:00:00', 2, 1.8, 15.9, 598.61, 3.4, 4.27, 198.93, 11.51, 24.9, 3.84, 10),
(83, 9, '2025-05-01 16:00:00', 3, 1.46, 15.72, 278.53, 2.3, 6.93, 229.13, 11.1, 39.08, 2.52, 8),
(84, 9, '2025-05-02 00:00:00', 4, 1.1, 15.89, 325.89, 3.02, 3.67, 294.21, 6.95, 25.61, 1.22, 6),
(85, 9, '2025-05-02 08:00:00', 5, 1.91, 12.3, 338.82, 2.32, 3.13, 236.49, 7.24, 4.27, 4.11, 9),
(86, 9, '2025-05-02 16:00:00', 6, 1.04, 13.62, 292.49, 0.99, 7.77, 216.21, 4.49, 8.48, 2.19, 6),
(87, 9, '2025-05-03 00:00:00', 7, 0.95, 13.07, 523.77, 2.66, 4.65, 293.46, 9.63, 7.04, 3.78, 7),
(88, 9, '2025-05-03 08:00:00', 8, 1.06, 11.19, 388.89, 1.8, 2.67, 220.6, 5.05, 12.17, 0.78, 6),
(89, 9, '2025-05-03 16:00:00', 9, 1.03, 11.67, 301.47, 2.12, 7.27, 156.05, 7.02, 4.52, 3.16, 7),
(90, 9, '2025-05-04 00:00:00', 10, 0.72, 13.64, 195.88, 2.08, 7.27, 192.44, 8.41, 25.93, 2.06, 5);
"""

cursor.execute(insert_clinical_data)
conn.commit()

insert_clinical_data = """
INSERT INTO clinical_data 
(clinical_id, patient_id, timestamp, timepoint, 
 creatinine, hemoglobin, ldh, lymphocytes, neutrophils, 
 platelet_count, wbc_count, hs_crp, d_dimer, news_score) 
VALUES
(91, 10, '2025-05-15 00:00:00', 1, 1.55, 13.6, 209, 1.88, 8.27, 300, 10.58, 11.3, 1.86, 7),
(92, 10, '2025-05-15 08:00:00', 2, 1.55, 11.5, 413, 2.00, 7.06, 336, 5.23, 7.4, 3.92, 10),
(93, 10, '2025-05-15 16:00:00', 3, 1.27, 13.1, 485, 2.86, 3.28, 327, 4.06, 4.0, 4.08, 10),
(94, 10, '2025-05-16 00:00:00', 4, 1.33, 13.8, 156, 1.43, 2.29, 239, 5.71, 7.1, 1.12, 7),
(95, 10, '2025-05-16 08:00:00', 5, 1.22, 13.1, 364, 2.66, 2.54, 270, 6.57, 15.7, 3.95, 10),
(96, 10, '2025-05-16 16:00:00', 6, 1.44, 14.5, 318, 2.61, 2.45, 244, 6.65, 0.8, 3.37, 10),
(97, 10, '2025-05-17 00:00:00', 7, 0.86, 15.3, 318, 2.78, 4.09, 299, 4.82, 5.8, 3.92, 10),
(98, 10, '2025-05-17 08:00:00', 8, 0.97, 14.2, 480, 2.05, 2.78, 400, 9.84, 16.0, 4.99, 10),
(99, 10, '2025-05-17 16:00:00', 9, 1.09, 15.9, 195, 1.17, 4.88, 285, 6.11, 4.9, 1.68, 6),
(100, 10, '2025-05-18 00:00:00', 10, 1.43, 14.6, 172, 2.20, 8.93, 309, 4.67, 5.3, 2.61, 8);

"""

cursor.execute(insert_clinical_data)
conn.commit()


print("✅ clinical_data 테이블 데이터 삽입 완료")

✅ clinical_data 테이블 데이터 삽입 완료

In [ ]:
import psycopg2
import random

# ============================
# 1. PostgreSQL DB 연결
# ============================
conn = psycopg2.connect(
    host="localhost",
    port=5432,
    database="septime_db",
    user="postgres",
    password="1234"
)
cursor = conn.cursor()

# ============================
# 2. 모든 clinical_id, news_score 불러오기
# ============================
cursor.execute("SELECT clinical_id, news_score FROM clinical_data;")
rows = cursor.fetchall()

# ============================
# 3. 랜덤 오프셋 계산 & 업데이트
# ============================
for clinical_id, news_score in rows:
    offset = random.randint(-2, 2)              # -2 ~ +2 정수
    new_label = news_score + offset
    new_label = max(1, min(10, new_label))      # 1~10 사이로 클리핑

    cursor.execute(
        """
        UPDATE clinical_data
        SET news_score_label = %s
        WHERE clinical_id = %s;
        """,
        (new_label, clinical_id)
    )

# ============================
# 4. 커밋 및 종료
# ============================
conn.commit()
cursor.close()
conn.close()

print("✅ news_score_label 컬럼이 랜덤하게 업데이트되었습니다.")

✅ news_score_label 컬럼이 랜덤하게 업데이트되었습니다.

In [ ]:
from datetime import datetime, timedelta
import random
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port=5432,
    database="septime_db",
    user="postgres",
    password="1234"
)
cursor = conn.cursor()

# 환자 목록 조회
cursor.execute("SELECT DISTINCT patient_id FROM clinical_data;")
patients = [row[0] for row in cursor.fetchall()]

# 시간 설정
start_date = datetime(2025, 1, 1, 0, 0, 0)
end_date = datetime(2025, 1, 4, 23, 59, 59)
latest_start_date = end_date - timedelta(hours=(10 - 1) * 8)


for pid in patients:
    # 환자별 시작 시간을 랜덤으로 뽑되, 마지막 timestamp가 end_date를 넘지 않도록 함
    random_start = start_date + timedelta(
        seconds=random.randint(0, int((latest_start_date - start_date).total_seconds()))
    )

    cursor.execute("""
        SELECT clinical_id, timepoint
        FROM clinical_data
        WHERE patient_id = %s
        ORDER BY timepoint;
    """, (pid,))
    records = cursor.fetchall()

    for clinical_id, timepoint in records:
        ts = random_start + timedelta(hours=(timepoint - 1) * 8)

        cursor.execute("""
            UPDATE clinical_data
            SET timestamp = %s
            WHERE clinical_id = %s;
        """, (ts, clinical_id))

conn.commit()
cursor.close()
conn.close()

print("✅ 모든 환자 timestamp가 2025-01-01~2025-01-03 사이에서 8시간 간격으로 정확히 설정되었습니다.")

✅ 모든 환자 timestamp가 2025-01-01~2025-01-03 사이에서 8시간 간격으로 정확히 설정되었습니다.

In [ ]:
import psycopg2

# ============================
# 1. DB 연결
# ============================
conn = psycopg2.connect(
    host="localhost",
    port=5432,
    database="septime_db",
    user="postgres",
    password="1234"
)
cursor = conn.cursor()

# ============================
# 2. 컬럼 추가 (이미 추가했으면 생략 가능)
# ============================
cursor.execute("""
ALTER TABLE patient
ADD COLUMN IF NOT EXISTS doctor_name VARCHAR(100),
ADD COLUMN IF NOT EXISTS hospital_name VARCHAR(200);
""")

# ============================
# 3. 더미 데이터 정의
# ============================
dummy_data = [
    (1, "박철수", "SKALA대학병원"),
    (2, "김지훈", "SKALA대학병원"),
    (3, "이영희", "SKALA대학병원"),
    (4, "정우성", "SKALA대학병원"),
    (5, "한지민", "SKALA대학병원"),
    (6, "최민호", "SKALA대학병원"),
    (7, "오하늘", "SKALA대학병원"),
    (8, "김도현", "SKALA대학병원"),
    (9, "송혜교", "SKALA대학병원"),
    (10, "김범수", "SKALA대학병원")
]

# ============================
# 4. 업데이트 실행
# ============================
for pid, doctor, hospital in dummy_data:
    cursor.execute(
        """
        UPDATE patient
        SET doctor_name = %s, hospital_name = %s
        WHERE patient_id = %s;
        """,
        (doctor, hospital, pid)
    )

conn.commit()
cursor.close()
conn.close()

print("✅ patient 테이블에 담당의 / 병원 더미 데이터 추가 완료")

✅ patient 테이블에 담당의 / 병원 더미 데이터 추가 완료